# Project

/docs
backend/db.sqlite3

# Python

__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual Environment

.venv/
venv/

# Environment Variables

.env

# Django

media/

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db
