DEBUG=True
SECRET_KEY=replace_me
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_NAME=finsight
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

POSTGRES_DB=finsight
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

GEMINI_API_KEY=YOUR_API_KEY
